@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered">
    <tr> 
        <th>Tarih</th>
        <th>Borç</th>
    </tr>

    <tbody>
        <tr> 
            <td>@ViewData["Tarih"]</td>
            <td>@ViewData["ToplamBorc"]</td>
        </tr>
    </tbody>
</table>
